.f-header {
  padding: 16px 32px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto 1fr;
  background: #d6e7eb;
  font-weight: 700;
  font-size: 2rem;
  color: white;
  text-shadow: var(--white-text-shadow);

  &::before {
    content: '';
    display: block;
  }
}
