* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --magic-number: 35px;
  @media (min-width: 480px) {
    --magic-number: 50px;
  }
  @media (min-width: 768px) {
    --magic-number: 75px;
  }
  @media (min-width: 1024px) {
    --magic-number: 100px;
  }
}
.comment {
  color: #fff;
  min-height: var(--magic-number);
  width: 100%;
  background-color: gray;
  position: relative;
  display: grid;
  grid-template-columns: var(--magic-number) 1fr;
  grid-template-rows: minmax(var(--magic-number), max-content) 1fr;
  grid-template-areas: "avatar ." "avatar children";
  padding: calc(var(--magic-number) / 5);
}
.content {
  height: 100%;
  display: flex;
}
.avatar {
  width: calc(var(--magic-number) / 2);
  height: calc(var(--magic-number) / 2);
  border-radius: 100%;
  grid-area: avatar;
  background: gray;
  z-index: 1;
  border: 2px solid #fff;
}
.children {
  grid-area: children;
  position: relative;
}
.comment:has(~ .comment)::before {
  content: "";
  position: absolute;
  inset: calc(var(--magic-number) / -2) 0 0 calc(var(--magic-number) * -1);
  border-left: 1px solid #fff;
  width: var(--magic-number);
  height: 100%;
  transform: translateX(calc(25% - 2px));
  z-index: 0;
}
.comment .comment::after {
  content: "";
  width: var(--magic-number);
  height: var(--magic-number);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-bottom-left-radius: 35px;
  inset: calc(var(--magic-number) * -1) 0 0 calc(var(--magic-number) * -1);
  transform: translate(calc(25% - 2px), calc(50% - 5px));
  position: absolute;
  z-index: 0;
}
.comment:hover::after,
.comment:has(~ .comment:hover)::before {
  border-color: red;
  z-index: 1;
}
.comment:hover > .avatar {
  border-color: red;
  z-index: 1;
}
