*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

[class*="icon-"] {
  display: inline-block;
  width: .75rem;
  height: .75rem;
}

.icon-reply {
  background: url('data:image/svg+xml,<svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_14_10)"><path d="M10 8.585L9.415 8H2V2H10V8.585ZM10 1H2C1.45 1 1 1.45 1 2V8C1 8.55 1.45 9 2 9H9L11 11V2C11 1.45 10.55 1 10 1Z" fill="white"/></g><defs><clipPath id="clip0_14_10"><rect width="12" height="12" fill="white"/></clipPath></defs></svg>');
}

.icon-share {
  background: url('data:image/svg+xml,<svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_14_15)"><path d="M8 2.5L7.29 3.21L6.495 2.415V8H5.505V2.415L4.71 3.21L4 2.5L6 0.5L8 2.5ZM10 5V10.5C10 11.05 9.55 11.5 9 11.5H3C2.445 11.5 2 11.05 2 10.5V5C2 4.445 2.445 4 3 4H4.5V5H3V10.5H9V5H7.5V4H9C9.55 4 10 4.445 10 5Z" fill="white"/></g><defs><clipPath id="clip0_14_15"><rect width="12" height="12" fill="white"/></clipPath></defs></svg>')
}
