- var names = ["Aleksander Indus-Kanges-Kõnges", "Maizi Pulgad", "Edgar Allen Poe-Kott", "Peikon mit Pork", "Hanskan Toss", "Tee Peet", "Kree Tiit", "Jüri Öö", "Tiia-Piia Tšeburatskaja-Lõhe", "Pendyk ja Vendyk-huyendik", "Haimar Link", "Maamees Jaanes", "Alev Ström", "Emås Ström", "Isås Ström", "Mõttetu Mees", "Kivipallur Jürto Nii-Dommzonn", "Jürarrac Park", "Külvi Saast", "Taevoo Tiko", "Kadett Tühi-Kargaja", "Ät Punktee"];
- var values = ["Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequeat.", "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolroe magna aliqua.", "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolroe magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolroe magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequeat."]


mixin message()
  li(class="list-item")
    div(class="list-item-wrapper")
      div(class="chat-icon")
      div(class="chat-content")
        div(class="chat-head")
          span() #{names[Math.floor(Math.random() * names.length)]}
          span(class="time") 10hr ago
        div(class="chat-body")
          p() #{values[Math.floor(Math.random() * values.length)]}
        div(class="chat-footer")
          a(href="#")
            svg(width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M9 7.585L8.415 7H1V1H9V7.585ZM9 0H1C0.45 0 0 0.45 0 1V7C0 7.55 0.45 8 1 8H8L10 10V1C10 0.45 9.55 0 9 0Z" fill="white")
            span Reply
          a(href="#")
            svg(width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
              g(clip-path="url(#clip0_94_53)")
                path(d="M8 2.5L7.29 3.21L6.495 2.415V8H5.505V2.415L4.71 3.21L4 2.5L6 0.5L8 2.5ZM10 5V10.5C10 11.05 9.55 11.5 9 11.5H3C2.445 11.5 2 11.05 2 10.5V5C2 4.445 2.445 4 3 4H4.5V5H3V10.5H9V5H7.5V4H9C9.55 4 10 4.445 10 5Z" fill="white")
              defs
                clipPath(id="clip0_94_53")
                  rect(width="12" height="12" fill="white")
              span Share
    block

div(class="container")
    ul(class="the-list level-0")
      mixin nestedLevel()
        - for (let i = 0; i < 1; i++)
          +message()
            ul(class="the-list level-1")
              - for (let ii = 0; ii < 3; ii++)
                if(ii === 0)
                  +message()
                    ul(class="the-list level-2")
                      - for (let iii = 0; iii < 2; iii++)
                        +message()
                else
                  +message()
      +nestedLevel()
