:root {
  --grass-color: #2f8136;
  --tile-outline-color: #00aaff;
  --tile-buy-color: #48383015;
  --tile-buy-border-color: #422d23;
  --money-color: green;
  --tag-color: #dddddd;
  --tag-text-color: #000;
  --tag-border-color: #c3c3c3;
  --tooltip-color: #dadada;
  --shop-button-color: #ffffff;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--grass-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

html,
body {
  overscroll-behavior: none;
}

a,
button {
  &:focus-visible {
    outline: 2px solid var(--tile-outline-color);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#app,
.game,
.field-wrapper {
  width: 100%;
  height: 100%;
}

.field-wrapper {
  position: relative;
  overflow: hidden;
}

.field-inner {
  position: relative;
  transform: translate(var(--field-x), var(--field-y)) scale(var(--field-scale));
  width: 0;
  height: 0;
}

.tile {
  width: calc(var(--tile-size));
  height: calc(var(--tile-size));
  cursor: pointer;
  position: absolute;
  transform: translate(
    calc(var(--tile-size) * var(--tile-pos-x)),
    calc(var(--tile-size) * var(--tile-pos-y))
  );
  user-select: none;
  padding: 8px;
  border-radius: 4px;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  transition: transform, outline 120ms linear;
  outline-color: var(--tile-outline-color);

  .tile-timer {
    min-width: 48px;
    font-weight: 700;
    font-size: 0.75rem;
  }

  &:hover,
  &:focus-visible {
    outline: 4px solid var(--tile-outline-color);
  }

  .tile-payout {
    color: var(--money-color);
    font-weight: 700;
    padding: 2px 4px;
    line-height: 1;
  }

  .tile-picture {
    position: absolute;
    user-select: none;
    image-rendering: pixelated;
    top: 0;
  }

  .progress,
  .tile-payout {
    z-index: 6;
    background-color: var(--tag-color);
    border-radius: 8px;
    border: 2px solid var(--tag-border-color);
  }
}

.tile-dirt * {
  display: none;
}

.tile-buy {
  background-color: var(--tile-buy-color);
  border-color: var(--tile-buy-border-color);
  padding: 32px 8px;
}

.tile:not(.tile-ready) .tile-payout {
  display: none;
}

.tile.tile-ready .progress,
.tile.tile-ready .tile-payout {
  animation: pulsate 1s infinite;
}

.tooltip-wrapper {
  position: absolute;
  z-index: 11;
  transform: translate(
    calc(var(--tile-size) * var(--tooltip-x) + calc(var(--tile-size) / 2)),
    calc(var(--tile-size) * var(--tooltip-y) + calc(var(--tile-size) / 4))
  );
}

.tooltip-inner {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  padding: 24px;
  background: var(--tooltip-color);
  border-radius: 8px;
}

.tooltip-inner::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid var(--tooltip-color);
  left: 50%;
  transform: translateX(-50%);
  bottom: -14px;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--tag-text-color);

  svg {
    transform: rotate(-90deg);

    circle:nth-child(1) {
      stroke: var(--tag-border-color);
    }

    circle:nth-child(2) {
      stroke: var(--money-color);
    }
  }
}

.hud-wrapper {
  position: absolute;
  bottom: 50px;
  font-size: 1.5rem;
  width: 100%;
  pointer-events: none;
  user-select: none;

  .hud-inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 720px;
    width: 100%;
    margin: auto;
  }

  .hud-money {
    position: relative;
    z-index: 1;
  }

  .hud-money-wrapper {
    position: relative;
    min-width: 128px;
    text-align: center;
    &::before {
      content: '';
      position: absolute;
      width: 32px;
      height: 32px;
      background: url('/assets/farmgrass.png') -64px 0 no-repeat;
      image-rendering: pixelated;
      left: 50%;
      transform: translate(-50%, 6px) scale(4);
    }
  }
}

.tile-dirt .progress {
  display: none;
}

.button {
  appearance: none;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.shop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.button-shop {
  --shop-btn-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--shop-button-color);
  border-radius: 4px;
  padding: 4px;
  transform: scale(var(--shop-btn-grow));
  transition: transform 80ms linear;

  .button-shop-name {
    text-transform: capitalize;
  }

  &:hover {
    --shop-btn-grow: 1.1;
  }
}

.background {
  position: absolute;
  z-index: 1;
  user-select: none;
  pointer-events: none;

  canvas {
    transform-origin: top left;
    image-rendering: pixelated;
  }
}

.unlocks {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  --box-offset: 16rem;
  --box-button-height: 32px;
  --box-hide-offset: calc(-100% + var(--box-button-height));
  --box-position: var(--box-offset);
  background-color: #00000050;
  transition: background-color 500ms ease-in;
  z-index: 11;

  .openable-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    pointer-events: all;
    left: 50%;
    max-width: 480px;
    width: 100%;
    transform: translate(-50%, var(--box-position));
    transition: transform 350ms ease-in;
    transform-origin: bottom center;
  }

  .unlocks-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--tag-color);
    color: var(--tag-text-color);
  }

  .button-toggle {
    text-align: center;
    height: var(--box-button-height);
    background-color: var(--tag-color);
    border: 4px solid var(--tag-border-color);
    border-top: 0;
    width: 24%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    &::before {
      content: '';
      display: inline-block;
      transition: transform 150ms linear;
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' stroke='%23000' stroke-width='1.8898'%3E%3Cpath d='m3 7.9353 7-4.9353 7 4.9353'/%3E%3Cpath d='m3 13 7-4.9353 7 4.9353'/%3E%3Cpath d='m3 17.935 7-4.9353 7 4.9353'/%3E%3C/g%3E%3C/svg%3E");
    }
  }

  &.is-closed {
    pointer-events: none;

    .unlocks-inner {
      opacity: 0;
    }
  }

  &.is-closed,
  &.is-closing {
    background-color: transparent;
    --box-position: var(--box-hide-offset);

    .button-toggle::before {
      transform: rotate(180deg);
    }
  }

  .unlocks-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;

    .button-close {
      font-weight: 700;
      font-size: 1.5rem;
    }

    .unlocks-header-text {
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .unlocks-body {
    display: flex;
    padding: 2rem;
    justify-content: center;
  }

  .unlock-item {
    display: flex;
    flex-direction: column;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
